# Install Package

In [42]:
# %pip install kaggle

# Downloads datasets

In [43]:
!kaggle datasets download -d prosperchuks/health-dataset

health-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

# Buat folder lalu extract zip hasil download

In [44]:
# !mkdir health-dataset
# !unzip health-dataset.zip -d health-dataset
# !ls health-dataset

# Import package yang diperlukan

In [45]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Load datasets

In [46]:
df = pd.read_csv("health-dataset/hypertension_data.csv")

In [68]:
df[df["target"] == 1].head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,target
0,57.0,1.0,3,145,233,1,0,150,0,2.3,0,0,1
1,64.0,0.0,2,130,250,0,1,187,0,3.5,0,0,1
2,52.0,1.0,1,130,204,0,0,172,0,1.4,2,0,1
3,56.0,0.0,1,120,236,0,1,178,0,0.8,2,0,1
4,66.0,0.0,0,120,354,0,1,163,1,0.6,2,0,1

In [48]:
df.drop(columns=["thal"], inplace=True)

In [69]:
df[df["target"] == 0].head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,target
165,62.0,0.0,0,160,286,0,0,108,1,1.5,1,3,0
166,59.0,0.0,0,120,229,0,0,129,1,2.6,1,2,0
167,49.0,0.0,0,140,268,0,0,160,0,3.6,0,2,0
168,68.0,0.0,0,130,254,0,0,147,0,1.4,1,1,0
169,32.0,1.0,0,140,203,1,0,155,1,3.1,0,0,0

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26083 entries, 0 to 26082
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       26083 non-null  float64
 1   sex       26058 non-null  float64
 2   cp        26083 non-null  int64
 3   trestbps  26083 non-null  int64
 4   chol      26083 non-null  int64
 5   fbs       26083 non-null  int64
 6   restecg   26083 non-null  int64
 7   thalach   26083 non-null  int64
 8   exang     26083 non-null  int64
 9   oldpeak   26083 non-null  float64
 10  slope     26083 non-null  int64
 11  ca        26083 non-null  int64
 12  target    26083 non-null  int64
dtypes: float64(3), int64(10)
memory usage: 2.6 MB

# Menghitung nilai null pada tiap-tiap kolom

In [51]:
df.isnull().sum()

age          0
sex         25
cp           0
trestbps     0
chol         0
fbs          0
restecg      0
thalach      0
exang        0
oldpeak      0
slope        0
ca           0
target       0
dtype: int64

# Hapus kolom yang memiliki nilai NaN / null

In [52]:
df = df.replace([np.inf, -np.inf], np.nan)
df = df.dropna()
df = df.reset_index(drop=True)

# Feature

In [53]:
X = df.drop(columns="target", axis=1)
Y = df["target"]

In [54]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [55]:
X.shape, X_train.shape

((26058, 12), (20846, 12))

# Membuat model

In [77]:
model = LogisticRegression(max_iter=1000)

In [78]:
model.fit(X_train, Y_train)

LogisticRegression(max_iter=1000)

In [79]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [80]:
print("Akurasi data training : ", training_data_accuracy)

Akurasi data training :  0.8197256068310467

In [81]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test )

In [82]:
print("Akurasi data test : ", test_data_accuracy)

Akurasi data test :  0.8242517267843438

# Buat data prediksi

In [83]:
# kena
input_data =  np.array([57.0,1.0,3,145,233,1,0,150,0,2.3,0,0])
# tidak
# input_data =  np.array([62.0,0.0,0,160,286,0,0,108,1,1.5,1,3])
input_data_reshaped = input_data.reshape(1,-1)
prediction = model.predict(input_data_reshaped)
print(prediction)
if (prediction[0] == 0) :
    print("Pasien tidak terkena darah tinggi")
else :
    print("Pasien terkena penyakit darah tinggii")

[1]
Pasien terkena penyakit darah tinggii

/home/irgiys/ml-env/lib/python3.11/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

# Simpan Model

In [63]:
import pickle

In [64]:
filename = 'hypertension.sav'
pickle.dump(model, open(filename, 'wb'))